*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark-blue: 218 44% 22%;
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: rgb(240, 240, 255);
  display: grid;
  place-items: center;
}

.card {
  width: 280px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.4rem;
  border-radius: 1.4rem;
  box-shadow: 5px 5px 10px 1px hsl(var(--clr-dark-blue) / 0.3);
}

.img-container {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 1rem;
}
.img-container > img {
  width: 100%;
  object-fit: cover;
}

.card-title > h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--clr-dark-blue);
}

.card-description {
  font-size: 0.8rem;
  color: #888;
}

.card-description,
.card-title {
  width: 22ch;
  text-align: center;
}

.attribution {
  width: 100%;
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
